astroid==2.11.7
colorama==0.4.5
dill==0.3.5.1
isort==5.10.1
lazy-object-proxy==1.7.1
mccabe==0.7.0
platformdirs==2.5.2
pylint==2.14.5
tomli==2.0.1
tomlkit==0.11.4
typing_extensions==4.3.0
wrapt==1.14.1

pytest~=6.2.5
jupyter~=1.0.0
pip~=22.1.2
emoji~=1.6.3
attrs~=21.4.0
toml~=0.10.2
py~=1.11.0
Pillow~=9.0.1
asyncio~=3.4.3
tornado~=6.1
Jinja2~=3.0.3
numpy~=1.22.2
anyio~=3.6.1
sniffio~=1.2.0
setuptools~=58.1.0
asyncpg~=0.26.0
fastapi~=0.79.0
starlette~=0.19.1
pydantic~=1.9.1
requests~=2.27.1
click~=8.0.3
mypy~=0.971
decorator~=5.1.1
itsdangerous~=2.0.1